<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Xolmurodov Abdulaziz</title>
<link rel="stylesheet" href="/static/css/about.css">
</head>
<body>

<div class="profile">
    <img src="/static/me.jpg" style="width:450px;height:450px;" alt="">
    <h1>Hello, I'm Xolmurodov Abdulaziz</h1>
    <section class="about-me">
        <h2>About Me</h2>
        <p>Born: 10/03/2005</p>
        <p>Age: 20 years old</p>
        <p>Job: Student</p>
        <p>I am a backend developer</p>
    </section>
    <section class="my-skills">
        <h2>My Skills</h2>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>MySql</li>
            <li>Html,Css</li>
            <li>C++</li>
        </ul>
    </section>
    <section class="my-experience">
        <h2>My Experience</h2>
        <ul>
            <li>Cultural Immersion in Kyoto</li>
            <li>Sunrise Hike to Machu Picchu</li>
            <li>Culinary Adventure in Thailand</li>
            <li>Scuba Diving in the Great Barrier Reef</li>
            <li>A Night Under the Northern Lights in Iceland</li>
        </ul>
    </section>
    <section class="favorite-color">
        <h2>Favorite Color</h2>
    </section>
</div>

</body>
</html>
